body {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper-container {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: center;
}

.grade {
  font-family: "Luckiest Guy", cursive;
  font-size: 25px;
  color: purple;
  display: block;
  width: 300px;
  text-align: right;
  margin-bottom: 5px;
}

.level {
  display: flex;
  justify-self: flex-start;
  width: 200px;
  font-family: "Luckiest Guy", cursive;
  color: white;
}

.level-number {
  font-family: "Luckiest Guy", cursive;
  color: orange;
  margin-left: 5px;
  font-size: 20px;
}

.rhythm-bar {
  display: flex;
  border-radius: 50px;
  border: black 1px solid;
  width: 200px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  position: relative;
}

.target {
  border-radius: 50%;
  border: 0.5px solid white;
  background-color: red;
  box-shadow: white;
  width: 14px;
  height: 14px;
}

.target-move {
  z-index: 1;
  left: var(--x, 0px);
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(calc(185px - var(--x, 0px)));
  }
}

.target-area {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    #5ec7c3,
    white,
    white,
    #5ec7c3,
    rgba(0, 0, 0, 0.3)
  );
  opacity: 1;
  width: 40px;
  height: 15px;
  position: absolute;
  right: 30px;
}

.arrow-keys {
  display: flex;
  border-radius: 50px;
  border: black 1px solid;
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}

.key {
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: royalblue;
  margin: 1.5px;
  align-items: center;
  justify-content: center;
  color: white;
}

.pressed-key {
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: greenyellow;
  margin: 1.5px;
  align-items: center;
  justify-content: center;
  color: white;
}

.score {
  width: 200px;
  height: 50px;
  border: 1px black solid;
  position: absolute;
  right: 50px;
  bottom: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  width: 200px;
  height: 50px;
  border: 1px black solid;
  position: absolute;
  left: 20px;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
